body {
  background-color: #d3d3d3;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

#album {
  width: 290px;
}

#cover {
  width: 450px;
}

audio{
  margin-top: 44px;
}

audio:focus {
  outline: none;
}

.gritar {
  text-transform: uppercase;
  font-weight: bold;
}

.estribillo {
  font-style: italic;
}
